(
    camera_controler: (
        amount_left: 0.0,
        amount_right: 0.0,
        amount_forward: 0.0,
        amount_backward: 0.0,
        amount_up: 0.0,
        amount_down: 0.0,
        rotate_horizontal: 0.0,
        rotate_vertical: 0.0,
        scroll: 0.0,
        speed: 4.0,
        sensitivity: 0.4,
        self_camera: (
            position: (
                x: 0.0,
                y: 2.0,
                z: 0.0,
            ),
            yaw: (0.0),
            pitch: (0.0),
        ),
    ),
    hallways: [],
    rooms: {
        2: (
            position: (
                x: 0.0,
                y: 0.0,
                z: 0.0,
            ),
            rotation: (0.1),
            walls: [
                (
                    local_pos: (
                        x: -5.0,
                        y: 5.0,
                    ),
                    wall_texture: (
                        id: (
                            id: "default",
                            ratio: 1.0,
                        ),
                        offset: (0.0, 0.0),
                        tile: (
                            specific: (10.0, 10.0),
                            scale: (1.0, true),
                            is_specific: false,
                        ),
                        fliped: (false, false),
                    ),
                ),
                (
                    local_pos: (
                        x: -5.0,
                        y: -5.0,
                    ),
                    wall_texture: (
                        id: (
                            id: "default",
                            ratio: 1.0,
                        ),
                        offset: (0.0, 0.0),
                        tile: (
                            specific: (10.0, 10.0),
                            scale: (1.0, true),
                            is_specific: false,
                        ),
                        fliped: (false, false),
                    ),
                ),
                (
                    local_pos: (
                        x: -4.0,
                        y: -6.0,
                    ),
                    wall_texture: (
                        id: (
                            id: "default",
                            ratio: 1.0,
                        ),
                        offset: (0.0, 0.0),
                        tile: (
                            specific: (10.0, 10.0),
                            scale: (1.0, true),
                            is_specific: false,
                        ),
                        fliped: (false, false),
                    ),
                ),
                (
                    local_pos: (
                        x: 4.0,
                        y: -6.0,
                    ),
                    wall_texture: (
                        id: (
                            id: "default",
                            ratio: 1.0,
                        ),
                        offset: (0.0, 0.0),
                        tile: (
                            specific: (10.0, 10.0),
                            scale: (1.0, true),
                            is_specific: false,
                        ),
                        fliped: (false, false),
                    ),
                ),
                (
                    local_pos: (
                        x: 5.0,
                        y: -5.0,
                    ),
                    wall_texture: (
                        id: (
                            id: "default",
                            ratio: 1.0,
                        ),
                        offset: (0.0, 0.0),
                        tile: (
                            specific: (10.0, 10.0),
                            scale: (1.0, true),
                            is_specific: false,
                        ),
                        fliped: (false, false),
                    ),
                ),
                (
                    local_pos: (
                        x: 5.0,
                        y: 5.0,
                    ),
                    wall_texture: (
                        id: (
                            id: "default",
                            ratio: 1.0,
                        ),
                        offset: (0.0, 0.0),
                        tile: (
                            specific: (10.0, 10.0),
                            scale: (1.0, true),
                            is_specific: false,
                        ),
                        fliped: (false, false),
                    ),
                ),
                (
                    local_pos: (
                        x: 4.0,
                        y: 6.0,
                    ),
                    wall_texture: (
                        id: (
                            id: "default",
                            ratio: 1.0,
                        ),
                        offset: (0.0, 0.0),
                        tile: (
                            specific: (10.0, 10.0),
                            scale: (1.0, true),
                            is_specific: false,
                        ),
                        fliped: (false, false),
                    ),
                ),
                (
                    local_pos: (
                        x: -4.0,
                        y: 6.0,
                    ),
                    wall_texture: (
                        id: (
                            id: "default",
                            ratio: 1.0,
                        ),
                        offset: (0.0, 0.0),
                        tile: (
                            specific: (10.0, 10.0),
                            scale: (1.0, true),
                            is_specific: false,
                        ),
                        fliped: (false, false),
                    ),
                ),
            ],
            doors: {},
            height: 5.0,
            moddifiers: [],
            floor_texture: (
                id: (
                    id: "default",
                    ratio: 1.0,
                ),
                offset: (0.0, 0.0),
                tile: (
                    specific: (10.0, 10.0),
                    scale: (1.0, true),
                    is_specific: false,
                ),
                fliped: (false, false),
            ),
            roof_texture: (
                id: (
                    id: "default",
                    ratio: 1.0,
                ),
                offset: (0.0, 0.0),
                tile: (
                    specific: (10.0, 10.0),
                    scale: (1.0, true),
                    is_specific: false,
                ),
                fliped: (false, false),
            ),
            name: "default_room",
        ),
    },
)